body {
  background-image: url(/img/capybara.jpg);
}
h1 {
  color: red;
  font-style: italic;
  font-family: sans-serif;
  text-transform: capitalize;
  text-align: start;
}
h2 {
  opacity: 20%;
  font-size: 30px;
  background-color: brown;
}
